/********************************
    PREMIER CAROUSEL FROM SCRATCH
    PARTIE CSS
*********************************/
@charset "utf-8";

div#carousel-container {
    --carousel-width: 800px;
    --carousel-height: 600px;
}

div#carousel-container div#carousel-images-list {
    --transition-duration: 1s;
}

div#carousel-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--carousel-width);
    height: var(--carousel-height);
    overflow: hidden;
}

div#carousel-images-links-container {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 1003;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

/* C'est ici qu'on défini la forme et la taille de nos liens direct vers les images */
div#carousel-images-links-container .circle {
    position: relative;
    display: block;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background: rgba(255,255,255,0.5);
    box-shadow: 2px 2px 3px 0px rgba(82, 80, 80, 0.75);
    border: 2px solid #000;
    opacity: 0.7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    /* Pour l'affichage des numéros des images */
    text-align: center;
    font-size: 0.8rem;

    transition: all 0.3s;
}

div#carousel-images-links-container .circle:hover {
    width: 25px;
    height: 25px;
    bottom: 1px;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

div#carousel-container div#carousel-images-list {
    display: flex;
    flex-flow: row nowrap;
    height: var(--carousel-height);
    transition: all var(--transition-duration);
}

div#carousel-container .arrow-style {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255 ,255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

div#carousel-container .arrow-left {
    position: fixed;
    left: 10px;
    top: 50%;
    z-index: 1001;
    background-image: url('../images/carousel/fleches-gauche.png');
    background-repeat: no-repeat;
    background-size: contain;
}

div#carousel-container .arrow-right {
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 1002;
    background-image: url('../images/carousel/fleche-droite.png');
    background-repeat: no-repeat;
    background-size: contain;
}