/****************************
    HEADER
*****************************/

header {
    position: relative;
    width: 100vw;
    height: 85vh; /* moins la hauteur de nav */
}

/* SMARTPHONE */
/* media queries pour gèrer à partir de 375 de max-width */
@media screen and (max-width: 375px) {
}