/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font-family: font-family: 'Comme', cursive; */
/* font-family: 'Henny Penny', sans-serif; */

html {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

/* Pour les icones */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/***************************
    PARTIE BARRE DE NAVIGATION
***************************/

/* On affiche le logo uniquement pour smartphone */
body span#hamburger-icon {
    display: none;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.75);
    background-color: #ffffff;
    /************************************************/
    background-image: linear-gradient(45deg, #ce6a6b 25%, #ebaca2 25%, #ebaca2 50%, #ce6a6b 50%, #ce6a6b 75%, #ebaca2 75%, #ebaca2 100%);
    background-size: 56.57px 56.57px;
    z-index: 999;
}

/* on crée un div container pour le logo car si on fait ça direct dans l'image, ça crée
    des problèmes avec le border-radius */
nav div#logo-container {
    position: relative;
    top: 1vw;
    left: 1vh;
}

nav div#logo-container img.logo-sarah {
    margin: 0 0 0 2vw;
    width: 10vw;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
}

nav ul {
    width: 80vw;
    padding-right: 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    position: relative;
    top: 2vh;
    list-style-type: none;
    height: 4vh;
    text-align: center;
    line-height: 4.5vh;
    flex-basis: 17%;
    flex-grow: 0;
    flex-shrink: 0;
}

nav ul li:first-child {
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
    margin-right: 2px;
}

nav ul li:last-child {
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
    margin-left: 2px;
}

nav ul li:not(:first-child,:last-child) {
    margin: 0 2px 0 2px;
}

nav ul li a {
    /* pour rendre toute la li cliquable */
    display: block;
    font-family: 'Comme',  sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
}

/****************************
    HEADER
*****************************/

header {
    position: relative;
    width: 100vw;
    height: 85vh; /* moins la hauteur de nav */
    background-image: url('../images/header/header-background-original.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    position: relative;
    top: 20vh;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Henny Penny', sans-serif;
    font-size: 4rem;
	margin: auto;
	letter-spacing: 0.0015em;
	text-align: center;
    color: #00353F;
    text-shadow: 10px 10px #FFBF66;
    background-color: rgba(255, 255, 255, 0.5);
}

a.anchor-link {
    color: black;
    position: absolute;
    left: 50vw;
    bottom: 2vh;
}




/* SMARTPHONE */
/* media queries pour gèrer à partir de 375 de max-width */
@media screen and (max-width: 375px) {

    body span#hamburger-icon {
        display:inline;
    }

    body span#hamburger-icon a img {
        position: fixed;
        top: 0;
        right: 0;
        margin: 1vh 2vw 0 0;
        width: 15vw;
        height: auto;
        z-index: 1000;
    }

    nav {
        position: fixed;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: block;
        z-index: 999;
        transition: all 1s;
    }

    nav.navbarToggle {
        left: 0;
    }

    /* nav div#logo-container {
        display: none;
    } */
    /*taille image 15vw auto */
    nav div#logo-container {
        display: inline;
        top: 80vh;
        left: calc( 50vw - 15vw);
    }

    nav div#logo-container img.logo-sarah {
        margin: 0;
        width: 30vw;
        height: auto;
        border-radius: 50%;
    }

    nav ul {
        width: 100vw;
        padding-top: 0;
        padding-right: 0;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    /***************************************
        HEADER SMARTPHONE
    ***************************************/
    header {
        height: 100vh;
    }

    h1 {
        font-size: 2rem;
        text-shadow: none;
    }

    a.anchor-link {
        left: 90vw;
    }
}

/* Classe de couleur pour test et debuggage */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.aqua {
    background-color: aqua;
}

.gold {
    background-color: gold;
}

.orange {
    background-color: orange;
}

.darkblue {
    background-color: darkblue;
}