/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import de la font Comme */
/* font-family: font-family: 'Comme', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 1em;
}

/***************************
    PARTIE BARRE DE NAVIGATION
***************************/

/* On affiche le logo uniquement pour smartphone */
body span#hamburger-icon {
    display: none;
}

nav {
    position: relative;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.75);
    background-color: #ffffff;
    /************************************************/
    background:
    radial-gradient(#ffffff 49%,#0000 50%) calc(38px/-2) calc(38px/2),
    repeating-conic-gradient(from 45deg,#9a8606 0 25%,#0000 0 50%)
      calc(38px/2) calc(38px/2),
    radial-gradient(#ffffff 49%,#0000 50%),radial-gradient(#ffffff 49%,#0000 50%) 38px 38px #9a8606;
background-size: calc(2*38px) calc(2*38px);



}

/* on crée un div container pour le logo car si on fait ça direct dans l'image, ça crée
    des problèmes avec le border-radius */
nav div#logo-container {
    position: relative;
    top: 1vw;
    left: 1vh;
}

nav div#logo-container img.logo-sarah {
    margin: 0 0 0 2vw;
    width: 10vw;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
}

nav ul {
    width: 80vw;
    padding-right: 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    position: relative;
    top: 2vh;
    list-style-type: none;
    height: 4vh;
    text-align: center;
    line-height: 4.5vh;
    flex-basis: 17%;
    flex-grow: 0;
    flex-shrink: 0;
}

nav ul li:first-child {
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
    margin-right: 2px;
}

nav ul li:last-child {
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
    margin-left: 2px;
}

nav ul li:not(:first-child,:last-child) {
    margin: 0 2px 0 2px;
}

nav ul li a {
    /* pour rendre toute la li cliquable */
    display: block;
    font-family: 'Comme',  sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
}

/****************************
    HEADER
*****************************/

h1 {
    margin: 0;
    padding: 0;
}

/* SMARTPHONE */
/* media queries pour gèrer à partir de 375 de max-width */
@media screen and (max-width: 375px) {

    body span#hamburger-icon {
        display:inline;
    }

    body span#hamburger-icon a img {
        position: fixed;
        top: 0;
        right: 0;
        margin: 1vh 2vw 0 0;
        width: 15vw;
        height: auto;
        z-index: 1000;
    }

    nav {
        position: fixed;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: block;

        transition: all 1s;
    }

    nav.navbarToggle {
        left: 0;
    }

    /* nav div#logo-container {
        display: none;
    } */
    /*taille image 15vw auto */
    nav div#logo-container {
        display: inline;
        top: 80vh;
        left: calc( 50vw - 15vw);
    }

    nav div#logo-container img.logo-sarah {
        margin: 0;
        width: 30vw;
        height: auto;
        border-radius: 50%;
    }

    nav ul {
        width: 100vw;
        padding-top: 0;
        padding-right: 0;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
}
/* Classe de couleur pour test et debuggage */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.aqua {
    background-color: aqua;
}

.gold {
    background-color: gold;
}

.orange {
    background-color: orange;
}

.darkblue {
    background-color: darkblue;
}